/* ==============================================================     */
/* = = = = = == = = = = = = = = = = = =  L O G O = = =  */
body header div pre {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 30px;    
    text-align: right;    
    color: rgba(245, 245, 245, 0.412);
    text-shadow: #FC0 1px 0 10px;
    
    
    padding-top: 10px;
    padding-right: 40px;
    
    /* opacity: 55%; */
    line-height: 100%;
}
/* = = = = = == = = = = = = = = = = = =  L O G Oend = = =  */
/* ==============================================================     */
/* - = - =- = - = - = - = - = - =  - = - */
body.phase1 {
    background-color: black;    
}
/* - = - =- = - = - = - = - = - =  - = - */

body.phase1 main section div { 
    
    
    color: lightblue;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 200px;
    text-align: center;
    
    
    /* --------CENTER TO VIEWPORT-------- */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* ---------------------------------- */
}

/* ==============================================================     */
/* ==============================================================     */
/* - = - =- = - = - = - = - = - =  - = - */
html{min-height: 100%;}
body.phase2 {
    background-color: paleturquoise;
    transition: background-color 0.5s ease;

    /* background-image: url('https://live.staticflickr.com/65535/51489458092_5686ad8529_k.jpg'); */
    /* background-size: center; */
    background-image: linear-gradient(to bottom right, lightblue, darkblue, orange);
    height: 100%;
    width: 100%;
}
/* - = - =- = - = - = - = - = - =  - = - */
/* ==============================================================     */
/* ==============================================================     */

body.phase2 main section {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    
}


body.phase2 main section div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Bad Script', cursive;
    
    background-color: rgba(0, 0, 0, 0.734);
    color: rgba(255, 255, 255, 0.563);
    font-size: 50px;
    
    
    height: 300px;
    width: 300px;
    
    /* min-height: 200px;
    min-width: 200px; */
    
    
    margin-top: 6%;
    
    /* padding: 10px; */

    border-radius: 30px;
    
}

/* ==============================================================     */
/* ==============================================================     */
/* - = - =- = - = - = - = - = - =  - = - */
body#phase3b {
    background-color: rgb(112, 162, 216);
    transition: background-color 0.5s ease;
}
body#phase3b header div pre {
    transition: line-height 0.5s ease;
    line-height: 150%;
    color: darkblue;
}
/* - = - =- = - = - = - = - = - =  - = - */
#prayer-box {
    /*     
    margin-left: 100px;
    margin-right: 100px; */
    padding: 200px;
    border-radius: 10px / 50px;
}
#small-comment-box {
    
    border-radius: 40px;
}

/* ==============================================================     */
/* ==============================================================     */
/* - = - =- = - = - = - = - = - =  - = - */
body#phase3a {
    background-color: rgba(34, 162, 2, 0.748);
    transition: background-color 0.5s ease;
}
body#phase3a header div pre {
    transition: line-height 0.5s ease;
    
    line-height: 150%;

    text-align: left;
    padding-top: 10px;
    padding-left: 40px;
    
    text-shadow: 0 0 3px #1b1b1c79;
    color: rgba(72, 72, 10, 0.685);
    /* opacity: 55%; */
    /* line-height: 100%; */
}
/* - = - =- = - = - = - = - = - =  - = - */
/* ==============================================================     */
/* ==============================================================     */