
body.phase1 {
    background-color: black;
    
}

body.phase1 main section div {
    

    color: lightblue;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 200px;
    text-align: center;


    /* --------CENTER TO VIEWPORT-------- */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* ---------------------------------- */
}

/* - = - =- = - = - = - = - = - =  - = - */

body.phase2 {
    background-color: rgb(46, 136, 139);
    transition: 2s ease-in-out;
}

body.phase2 header div {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 50px;
    
    text-align: right;
    
}

body.phase2 main section {
    display: flex;
    justify-content: center;



    
}
body.phase2 main section div {

    
    background-color: black;
    color: white;
    font-size: 75px;
    

    height: 200px;
    width: 200px;
    
    min-height: 400px;
    min-width: 400px;
    
    margin-inline: 2px;
    margin-top: 10%;
    text-align: center;
    padding: 10px;
    
    
    /* --------CENTER TO VIEWPORT-------- */
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); */
    /* ---------------------------------- */
}
/* - = - =- = - = - = - = - = - =  - = - */

/* ==============================================================     */
/* ==============================================================     */
/* ==============================================================     */
/* ==============================================================     */

body.squiddy {
    background-color: teal;    
}

/* ==============================================================     */
/* ==============================================================     */

body.GE{
    background-color: black;
}


main section.GE {    
    /* --------CENTER TO VIEWPORT-------- */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* ---------------------------------- */

    background: black;
    color: teal;
    
    width: 80%;
    height: 80%;    
    
    border-radius: 5em;
    
    padding: 1em;
}

main section.GE div {
    /* --------CENTER TO VIEWPORT-------- */
    position: absolute;
    top: 50%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* ---------------------------------- */

    font-size: 20px;
    text-align: center;
}


/* ==============================================================     */
/* ==============================================================     */

main section.squiddy {
    /* --------CENTER TO VIEWPORT-------- */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    /* ---------------------------------- */

    background: black;
    color: white;
    
    width: 300px;
    height: 300px;    

    border-radius: 5em;
        
    padding: 1em;

}

main section.squiddy div {
    /* --------CENTER VERTICALLY-------- */
    line-height: 300px;
    height: 300px;
    /* --------------------------------- */

    font-size: 75px;
    text-align: center;

}
/* ==============================================================     */
/* ==============================================================     */